header, nav, main, footer {
    max-width: 95rem;
    margin: auto;
    // the margin centers the stuff when the page is big
}

// Navigation
nav ul {
    justify-content: flex-end;
    
}
ul li a {
    padding: .4rem 1rem;
}