$primaryColor: #262626;
$secondaryColor: #ACBFA4;
$fontColor: #262626;
// used #333 for font color befre, it looked good.

$defaultFont: "Oswald", sans-serif;
$lightWeight: 200;
$normalWeight: 500;
$boldWeight: 700;

$gutter: 16px;